<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DELI-VERY</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <main>
            <header>
                <img src="img/header.jpg">
                <h1>Ape Burger Joint</h1>
            </header>
            
            <section id="selection" class="selection">
                <h2>Select Burger</h2>

                <table>
                    <thead>
                        <tr>
                            <td><h3>Vanilla Burger</h3></td>
                            <td><h3>Choclate Burger</h3></td>
                            <td><h3>Salty Burger</h3></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="img/burger.jpg"></td>
                            <td><img src="img/burger.jpg"></td>
                            <td><img src="img/burger.jpg"></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Spicy</li>
                                    <li>Bright</li>
                                    <li>Greasy</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>Dark</li>
                                    <li>Firey</li>
                                    <li>Light</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>Hot</li>
                                    <li>Cold</li>
                                    <li>Balanced</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            
            </section>
           
            <section id="delivery" class="delivery">
                <h2>Customer Information</h2>
                <form>
                    <p>
                        <label for="fullname">Full name</label><br />
                        <input type="text" id="fullname" name="fn" required="required" placeholder="Full name">
                    </p>
                    <p>
                        <label for="email">Email</label><br />
                        <input type="email" id="email" name="em" required="required" placeholder="Email">
                    </p>
                    <p>
                        <label for="street">Street</label><br />
                        <input type="text" id="street" name="st" required="required" placeholder="Street">
                    </p>
                    <p>
                        <label for="house">House</label><br />
                        <input type="text" id="house" name="ho" required="required" placeholder="House">
                    </p>
                    <p>
                        <label for="payment">Payment</label><br>
                        <select id="payment" name="pay">
                            <option>Credit card</option>
                            <option>Swish</option>
                        </select>
                    </p>
                    Gender
                    <p>
                        <input type="radio" id="male" name="ge" required="required" placeholder="Male">
                        <label for="male">Male</label><br />
                        <input type="radio" id="female" name="ge" required="required" placeholder="Female">
                        <label for="female">Female</label><br />
                        <input type="radio" id="nogender" name="ge" required="required" placeholder="None">
                        <label for="nogender">Dont wanan say</label><br />
                    </p>

                </form>
            </section>
            
            <button id="sendbutton" type="submit"><img src="img/send.png">Send order</button>
            
        </main>
        <footer>
            <hr>
            &copy; 2018 Ape Productions
        </footer>
    </body>
</html>