<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Burger City</title>
        <meta charset="utf-8"/>
    </head>
    <body>
      <main>
        <h1>Välkommen till BurgerOnline</h1>

        <section>
          <h2>Select burger</h2>
          <p>This is where you choose your burger</p>
        </section>

        <Section>
          <h3>The Super Burger</h3>
          <img src="https://cdn.pixabay.com/photo/2017/08/02/22/11/burger-2573682_1280.jpg" alt="Burger" title="The super burger" width="300">

          <ul>
            <li>Madewith real Organic superfoods</li>
            <li>Lettuce(contains lactose)</li>
            <li>Made to be eaten</li>

        <section>
          <h2>Customer information</h2>
          <p>This is where you provide neccessary information</p>
        </section>
      </main>

      <hr>
      <footer> &copy;This is the footer</footer>
    </body>
</html>
